body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header.heading {
    position: relative;
    background-color: #343a40;
    background: url("../img/portada.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.heading .transparency {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  .feature{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .feature .feature-icon{
      font-size: 4rem;
      padding: 1.5rem;
  }


  .team {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .team .team-item {
    max-width: 18rem;
  }
  
  .team .team-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }
  

  footer.footer {
    margin-top: auto;
  }
  